missing
mkinstalldirs
Debug 
ltmain.sh
intltool-merge.in
intltool-update.in
intltool-extract.in
install-sh
depcomp
configure
config.h.in
config.sub
config.guess
autom4te.cache 
aclocal.m4
Makefile.in
INSTALL
.anjuta_sym_db.db
.anjuta 
.anjuta
Debug
autom4te.cache
*.in.in
*~
Makefile
config.h
config.log
config.status
libtool
stamp-*
*.o
src/nr_deckbuilder
*.am.bak
*.in.bak
sample/nr-full.db
sample/nr-full.db.bz2
NR-deckbuilder.sdf
/win32/Release
